$background: hsla(0, 0%, 6.7%, 1);
$gray: hsl(0, 0%, 13%);
$blueGray: hsla(199, 18%, 32%, 1);
$green: hsla(67, 90%, 48%, 1);
$yellow: hsla(48, 97%, 53%, 1);
$red: hsla(15.6, 100%, 53.1%, 1);
$off-white: hsla(0, 0%, 73.7%, 1);
$white: hsla(0, 0%, 100%, 1);
$blue: hsla(199, 99%, 61%, 1);