// http://chir.ag/projects/name-that-color/

// core colors
$black: hsl(0, 0%, 0%);
$cod-gray: hsl(0, 0%, 7%);
$mine-shaft: hsl(0, 0%, 13%);
$river-bed: hsla(199, 18%, 32%, 1);
$fuego: hsla(72, 90%, 48%, 1);
$candlelight: hsla(48, 97%, 53%, 1);
$vermillion: hsla(15.6, 100%, 53.1%, 1);
$picton-blue: hsla(199, 69%, 61%, 1);
$gray: hsl(0, 0%, 54%);
$silver: hsla(0, 0%, 73.7%, 1);
$white: hsla(0, 0%, 100%, 1);
$tahiti-gold: hsl(33, 100%, 49%);
// map colors
// water
$woodsmoke: hsl(185, 2%, 10%);

// secondary road interior: hsl(0, 0%, 27%)
$tundora: hsl(0, 0%, 27%);

// secondary road border: hsl(0, 0%, 17%)
$mine-shaft-2: hsl(0, 0%, 17%);

// primary road interior: hsl(0, 0%, 20%)
$mine-shaft-3: hsl(0, 0%, 20%);

// primary road border: hsl(0, 0%, 13%)
$mine-shaft-4: hsl(0, 0%, 13%);

// building: hsl(55, 1%, 17%)
$tuatara: hsl(55, 1%, 17%);

// primary text color: hsl(0, 0%, 45%)
$dove-gray: hsl(0, 0%, 45%);

// primary text halo: hsla(0, 0%, 10%, 0.75)
$cod-gray-2: hsla(0, 0%, 10%, 0.75);

// secondary text color: hsl(0, 0%, 90%)
$mercury: hsl(0, 0%, 90%);

// secondary text halo: hsla(0, 0%, 10%, 0.75)
// same as cod-gray-2

// admin 1 border color: hsl(0, 0%, 10%)

// dark interface colors
$backgroundDark: $cod-gray;
$textDark: $white;
$offTextDark: $silver;
$grayDark: $mine-shaft;
$blueGrayDark: $river-bed;
$greenDark: $fuego;
$yellowDark: $candlelight;
$redDark: $vermillion;
$blueDark: $picton-blue;
$messageBackgroundDark: transparentize($backgroundDark, 0.3);

// light interface colors
$backgroundLight: $white;
$textLight: $black;
$offTextLight: $gray;
$grayLight: $mine-shaft;
$blueGrayLight: $river-bed;
$greenLight: $fuego;
$yellowLight: $tahiti-gold;
$redLight: $vermillion;
$blueLight: $picton-blue;
$messageBackgroundLight: transparentize($backgroundLight, 0.8);

/* stylelint-disable property-no-unknown */

:export {
  background: $backgroundDark;
  gray: $mine-shaft;
  bluegray: $river-bed;
  green: $fuego;
  yellow: $candlelight;
  red: $vermillion;
  offwhite: $silver;
  white: $white;
  blue: $picton-blue;
  black: $black;
}

/* stylelint-enable property-no-unknown */
