$default-padding: 15px;
$default-margin: 20px;

$page-header-height: 70px;
$page-footer-height: 70px;

$button-hover-darken-pct: 10;

$body-top-padding: 61px;
$body-side-padding: 15px;

$header-height: 60px;
$footer-height: 40px;