@import "base";
@import "~normalize.css/normalize";
@import "_colors";
@import "_fonts";
@import "_variables";

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want

:global {
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;

    // background-color: $green;

    @include book-font;
  }

  li,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  * {
    outline: none !important;
    outline-offset: 0;
  }

  label {
    @include medium-font;
  }
}