@import 'src/ui/styles/_colors';
@import 'src/ui/styles/_variables';
@import 'src/ui/styles/_fonts';
@import 'src/ui/styles/fallback';
@import 'src/ui/styles/_mapboxOverrides';
@import 'utilities';
// @import '../../../node_modules/mapbox-gl/dist/mapbox-gl.css';

// https://github.com/sass/node-sass/issues/1943
// wtf does #{whatever-variable-here} do??
// some kind of interpolation???
:global {
  .ts-light {
    // general colors
    --blue: #{$blueLight};
    --red: #{$redLight};
    --green: #{$greenLight};
    --yellow: #{$yellowLight};
    --blue-gray: #{$blueGrayLight};
    --white: #{$white};
    --black: #{$black};

    // text colors
    --text-color-primary: #{$textLight};
    --text-color-secondary: #{$offTextLight};
    --text-color-tertiary: #{$white};

    --message-background-color: #{$messageBackgroundLight};
    --background-color: #{$backgroundLight};
    --border-color: #{transparentize($offTextLight, 0.7)};
    // exceptions. Consider importing these directly later? no idea.
    --badge-unsafe-to-fish-content: #{darken($silver, 40)};
    --badge-unsafe-to-fish-border: #{$silver};
    --some-Variable: #{$greenDark};
  }

  .ts-dark {
    // general colors
    --blue: #{$blueDark};
    --red: #{$redDark};
    --green: #{$greenDark};
    --yellow: #{$yellowDark};
    --blue-gray: #{$blueGrayDark};
    --white: #{$white};
    --black: #{$black};

    // text colors
    --text-color-primary: #{$textDark};
    --text-color-secondary: #{$offTextDark};
    --text-color-tertiary: #{$black};

    --message-background-color: #{$messageBackgroundDark};
    --background-color: #{$backgroundDark};
    --border-color: #{transparentize($offTextDark, 0.7)};

    // exceptions. Consider importing these directly later? no idea.
    --badge-unsafe-to-fish-content: #{lighten($blueGrayDark, 40)};
    --badge-unsafe-to-fish-border: #{$blueGrayDark};
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    @include book-font;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  html {
    box-sizing: border-box;
    @include book-font;
    font-size: $default-font-size;
    line-height: $default-line-height;
  }

  h4 {
    font-size: 1em;
    @include heavy-font;
    margin: 0;
  }

  // body::after {
  //   content: '';
  //   display: table; /* NOTE: Display "block" does not seem to work with height: 0px. */
  //   height: 0px;
  // }

  @media screen and (min-width: 320px) and (orientation: portrait) {
    html {
      font-size: $default-font-size;
    }
  }

  @media screen and (min-height: 320px) and (orientation: landscape) {
    html {
      font-size: $default-font-size;
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: $default-font-size; ///rem(18px);
    }
  }

  //this is here to make storybook work with theming #storybookRoot,
  #storybookRoot,
  #root {
    height: 100%;
    width: 100%;
    @include fallback(background-color, --background-color, blue);
    @include fallback(color, --text-color-primary, blue);
    transition: background-color 800ms, color 800ms;
  }

  #storybookRoot {
    @include fallback(background-color, --background-color, blue);
    @include fallback(color, --text-color-primary, blue);
    transition: background-color 800ms, color 800ms;
  }

  li,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  * {
    outline: none !important;
    outline-offset: 0;
  }

  label {
    @include medium-font;
  }
}
