@import '_colors';
@import '_fonts';
@import '_variables';
@import 'fallback';

:global {
  .ts-light {
    // general colors
    --blue: $blueLight;
    --red: $redLight;
    --green: $greenLight;
    --yellow: $yellowLight;
    --blue-gray: $blueGrayLight;
    --white: $white;
    --black: $black;

    // text colors
    --text-color-primary: $textLight;
    --text-color-secondary: $offTextLight;
    --text-color-tertiary: $white;

    --message-background-color: $messageBackgroundLight;
    --background-color: $backgroundLight;
    --border-color: transparentize($offTextLight, 0.7);
    // exceptions. Consider importing these directly later? no idea.
    --badge-unsafe-to-fish-content: darken($silver, 40);
    --badge-unsafe-to-fish-border: $silver;
  }

  .ts-dark {
    // general colors
    --blue: $blueDark;
    --red: $redDark;
    --green: $greenDark;
    --yellow: $yellowDark;
    --blue-gray: $blueGrayDark;
    --white: $white;
    --black: $black;

    // text colors
    --text-color-primary: $textDark;
    --text-color-secondary: $offTextDark;
    --text-color-tertiary: $black;

    --message-background-color: $messageBackgroundDark;
    --background-color: $backgroundDark;
    --border-color: transparentize($offTextDark, 0.7);

    // exceptions. Consider importing these directly later? no idea.
    --badge-unsafe-to-fish-content: lighten($blueGrayDark, 40);
    --badge-unsafe-to-fish-border: $blueGrayDark;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    @include book-font;
  }

  html {
    box-sizing: border-box;
    @include book-font;
    font-size: 16px;
    line-height: 1.35em;
  }

  // body::after {
  //   content: '';
  //   display: table; /* NOTE: Display "block" does not seem to work with height: 0px. */
  //   height: 0px;
  // }

  @media screen and (min-width: 320px) and (orientation: portrait) {
    html {
      font-size: 16px;
    }
  }

  @media screen and (min-height: 320px) and (orientation: landscape) {
    html {
      font-size: 16px;
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }

  //this is here to make storybook work with theming #storybookRoot,
  #storybookRoot,
  #root {
    height: 100%;
    @include fallback(background-color, --background-color, blue);
    @include fallback(color, --text-color-primary, blue);
  }

  #storybookRoot {
    @include fallback(background-color, --background-color, blue);
    @include fallback(color, --text-color-primary, blue);
    transition: background-color 800ms, color 800ms;
  }

  li,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  * {
    outline: none !important;
    outline-offset: 0;
  }

  label {
    @include medium-font;
  }
}
