@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";

.polygon {
  fill: transparent;
  stroke-width: 0.3px;
  stroke-linejoin: round;
}

.states {
  composes: polygon;
  stroke: $off-white;
}

.regions {
  composes: polygon;

  a {
    stroke: $off-white;
    fill: transparentize($background, 0.3);
  }

  a:hover {
    fill: transparentize($gray, 0.6);
    stroke-width: 0.4px;
  }
}

.counties {
  composes: polygon;
}

.centroids {
  composes: polygon;
  pointer-events: none;

  .closed {
    fill: transparentize($blueGray, 0.3);
  }

  .open {
    fill: transparentize($blue, 0.3);
  }
}

.selectedStreamCentroid {
  composes: polygon;
  fill: $blue;
}

.selectedRegions {
  pointer-events: none;

  a {
    stroke: $blue;
    stroke-width: 0.4px;
  }

  composes: polygon;
}

.expand from '../Minimap.scss' {
  .regions {
    stroke-width: 0.1px;
  }
}