.tl {
  top: 0;
  left: 0;
  position: absolute;
}

.tr {
  top: 0;
  right: 0;
  position: absolute;
}

.bl {
  bottom: 0;
  left: 0;
  position: absolute;
}

.br {
  bottom: 0;
  right: 0;
  position: absolute;
}