@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";
@import "./RingWaypoint";

.roadSignText {
  // fill: #fff;
  // font-size: 0.6em;
  // text-decoration: none;
}

.roadSignText:hover,
.roadSignText:focus {
  text-decoration: none;
}

.roadSignTextDark {
  fill: $off_white;
  composes: roadSignText;
}

.bridge {
  text {
    stroke: none;
    font-size: 0.75em;
  }

  circle {
    fill: transparent;
  }
}

.publicTroutBridge {
  composes: bridge;
  stroke: $green;
  fill: $green;
}

.troutBridge {
  composes: bridge;
  stroke: $blue;
  fill: $blue;
}

.unsafeBridge {
  composes: bridge;
  stroke: $red;
  fill: $red;
}

.uninterestingBridge {
  composes: bridge;
  stroke: $gray;
  fill: $gray;
}