@import 'src/ui/styles/_colors';
@import 'src/ui/styles/_variables';
@import 'src/ui/styles/_fonts';
@import 'src/ui/styles/ZeldaText';

$fontSize: 12px;
$largeFontSize: 1.25em;
$smallFontSize: 0.85em;
$cautionaryYellow: transparentize($yellow, 0.8);

@keyframes highlight {
  0% {
    background-color: $messageBackground;
  }

  40% {
    background-color: $messageBackground;
  }

  45% {
    background-color: $cautionaryYellow;
  }
  50% {
    background-color: $messageBackground;
  }
}

.headerContainer {
  // fixes animation issue on header in offline mode
  // in (of course) safari iOS.

  // height: $header-height;
  background-color: $messageBackground;
  transition: background-color 0.3s ease;
  // BLURRY KIRBY FIX. I don't know why, but iOS safari
  // gets blurry unless the header is set to fixed position.
  height: $header-height;
  position: fixed;
  width: 100%;

  // top: 0px;
  z-index: 10000;
  border-bottom: 1px solid transparentize($off-white, 0.4);

  // overflow: hidden;
  font-size: $fontSize;
  // backdrop-filter: blur(2px);
}

.isOffline {
  composes: headerContainer;
  transition: background-color 0.3s ease;
  animation: highlight 12s linear infinite;
  .offlineIndicator {
    z-index: -100;
    position: absolute;
    top: 0;
    left: -60px;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    transition: opacity 0.3s ease;
    background-size: 30px 30px;
  }
}

@keyframes barberpole {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(60px, 0px, 0);
  }
}

.header {
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
}

.backButtonContainer {
  order: 1;

  min-width: 50px;
  max-width: 50px;
}

.minimapContainer {
  order: 3;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  z-index: 1000;

  // background-color: transparentize($red, 0.8);
}

// calc(100vmin / 50px)

.details {
  padding-top: 0px;
  order: 2;
  flex-grow: 1;

  padding-left: 10px;

  .top {
    color: $white;
    margin-bottom: 1px;
  }
}

.title {
  color: $white;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.1;
  cursor: pointer;
  @include medium-font;
}
