@import 'src/ui/styles/_colors';
@import 'src/ui/styles/_variables';
@import 'src/ui/styles/_fonts';
@import 'src/ui/styles/ZeldaText';
@import 'src/ui/styles/fallback';
@import 'src/ui/styles/utilities';
@import 'src/ui/page/header/search/Search.scss';

$fontSize: 12px;
$largeFontSize: 1.25em;
$smallFontSize: 0.85em;

.headerContainer {
  @include fallback(background-color, --message-background-color, $messageBackgroundDark);
  height: $header-height;
  position: fixed;
  width: 100%;

  z-index: 10000;
  transition: background-color 800ms, border-bottom 800ms;
  border-bottom: 1px solid transparentize($offTextDark, 0.7);
  border-bottom: 1px solid var(--border-color);
  font-size: $fontSize;
}

.header {
  padding-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  height: 100%;
}

.backButtonContainer {
  order: 1;
  min-width: 50px;
  max-width: 50px;
}

.minimapContainer {
  order: 3;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  z-index: 1000;
  margin-right: 5px;
}
.details {
  padding-top: 0px;
  order: 2;
  flex-grow: 1;

  padding-left: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  .top {
    margin-bottom: 1px;
  }

  .bottom {
    overflow: hidden;
    flex-grow: 1;
    position: relative;
  }
}

.thing {
  display: inline-block;
  position: absolute;
  height: 100%;
}
$enter-speed: 500;
$exit-speed: $enter-speed / 3;

$enter-speed-ms: $enter-speed * 1ms;
$enter-delay-ms: $enter-speed-ms / 3;
$enter-length-ms: $enter-speed-ms - $enter-delay-ms;
$exit-speed-ms: $exit-speed * 1ms;

$something-ease: cubic-bezier(0.75, 0, 0.25, 1);

:global .whatever--enter {
  opacity: 0;
  clip-path: inset(0 100% 0 0);
  transition: clip-path $enter-length-ms, opacity $enter-length-ms;
  transition-delay: $enter-delay-ms;
  transition-timing-function: $something-ease;
}

:global .whatever--enter-active {
  opacity: 1;
  clip-path: inset(0 0 0 0);
}

:global .whatever--exit {
  transition: clip-path $exit-speed-ms, opacity $exit-speed-ms;
  opacity: 1;

  transition-timing-function: $something-ease;
}

:global .whatever--exit-active {
  opacity: 0;
}

:global .hello--enter {
  opacity: 0;
  clip-path: inset(0 100% 0 0);
  transition: clip-path $enter-length-ms, opacity $enter-length-ms;
  transition-delay: $enter-delay-ms;
  transition-timing-function: $something-ease;
}

:global .hello--enter-active {
  opacity: 1;
  clip-path: inset(0 0 0 0);
}

:global .hello--exit {
  opacity: 1;
  transition: opacity $exit-speed-ms;
  transition-timing-function: $something-ease;
}

:global .hello--exit-active {
  opacity: 0;
}

:export {
  enter-speed: $enter-speed;
  exit-speed: $exit-speed;
}
