@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";
@import "src/ui/styles/_fonts";

@-webkit-keyframes copyFadeIn {
  from {
    transform: scale(1.05);
    opacity: 0;
  }

  50% {
    transform: scale(1);
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes copyFadeIn {
  from {
    transform: scale(1.05);
    opacity: 0;
  }

  50% {
    transform: scale(1);
  }

  to {
    opacity: 1;
  }
}

@keyframes copyFadeIn {
  from {
    transform: scale(1.05);
    opacity: 0;
  }

  50% {
    transform: scale(1);
  }

  to {
    opacity: 1;
  }
}

#root {
  height: 100%;
}

.box {
  display: flex;
  justify-content: center;
  pointer-events: none;

  /*align-items: center;*/
  flex-direction: column;
  padding-top: 20vh;
  font-size: calc(20vmin);
  overflow: hidden;
  margin: 0 auto;
  width: 50vmin;
  opacity: 0;
  -webkit-animation: copyFadeIn ease-in 1;
  -moz-animation: copyFadeIn ease-in 1;
  animation: copyFadeIn ease-in 1;

  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 0.2;
  transform: translateZ(0);
  transform: scale(1);
  z-index: 999;

  .title {
    font-size: 0.5em;
    margin-bottom: 0.2em;
    text-shadow: 0px 0px 10px $background;
  }

  .boxSub {
    font-size: 0.2em;
    margin-bottom: 0.1em;
    text-shadow: 0px 0px 10px $background;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 360;
  }
}

.loader {
  /*   background-color: black; */
  margin-top: 0.05em;
  shape-rendering: crispEdges;
  transform: translateZ(0);
  opacity: 1.0;
  transform: scaleY(1.3);
  transition: all 600ms;

  /*   transition: opacity 300ms 300ms; */
  transform-origin: 50% 100%;
  width: 100%;
}

.loader.isLoaded {
  transform: scaleY(0);
  opacity: 0.2;
}

.rounded {
  stroke-linecap: round;
  stroke-width: 5px;
  stroke: hsla(199, 99%, 61%, 1);
  stroke-dasharray: 100, 260;
  animation-timing-function: linear;
  animation: dash 1.6s linear infinite;
  animation-direction: reverse;
}

.background {
  stroke-width: 5px;
  stroke: #000000;
  stroke-linecap: round;
}