@import 'src/ui/styles/_colors';
@import 'src/ui/styles/_variables';

:export {
  black: $black;
  white: $white;
  // -------
  // DARK
  // -------
  backgroundfill-dark: $mine-shaft-4;
  waterfill-dark: transparentize($woodsmoke, 0.5);
  wateroutline-dark: $woodsmoke;
  primaryroadfill-dark: $mine-shaft-3;
  primaryroadborder-dark: $mine-shaft-4;
  secondaryroadfill-dark: $tundora;
  secondaryroadborder-dark: $mine-shaft-2;
  buildingfill-dark: $tuatara;
  primarylabelfill-dark: white;//$mercury;
  primarylabelbackground-dark: $cod-gray-2;
  secondarylabelfill-dark: white; //$tundora;
  secondarylabelbackground-dark: $cod-gray-2;
  admin0bordercolor-dark: $mine-shaft;
  admin1bordercolor-dark: $tundora;

  stream-dark: $blueGrayDark;
  troutstreamsection-dark: $blueDark;
  palsection-dark: $greenDark;

  restrictionyellow-dark: $candlelight;
  restrictionred-dark: $vermillion;
  restrictionwhite-dark: $white;
  restrictionblue-dark: $picton-blue;

  gpsborder-dark: $white;

  // -------
  // LIGHT
  // -------
  backgroundfill-light: $backgroundLight;
  waterfill-light: $cod-gray;
  wateroutline-light: transparentize($cod-gray, 0.5);
  primaryroadfill-light: green;
  primaryroadborder-light: blue;
  secondaryroadfill-light: $mercury;
  secondaryroadborder-light: $tuatara;
  buildingfill-light: $mercury;
  primarylabelfill-light: $cod-gray;
  primarylabelbackground-light: $backgroundLight;
  secondarylabelfill-light: $woodsmoke;
  secondarylabelbackground-light: $white;
  admin0bordercolor-light: pink;
  admin1bordercolor-light: indigo;

  stream-light: $tundora;
  troutstreamsection-light: $blueLight;
  palsection-light: $greenLight;

  restrictionyellow-light: $yellowLight;
  restrictionred-light: $redLight;
  restrictionwhite-light: $mine-shaft;
  restrictionblue-light: $blueLight;

  gpsborder-light: $black;
}
