@import "src/ui/styles/_colors";

.radialText {
  font: 0.6em sans-serif;
  font-stretch: ultra-condensed;
  fill: darken($off-white, 20);
  stroke: none;
  alignment-baseline: middle;
  font-weight: lighter;
}

.radialTextSmall {
  composes: radialText;
  font: 0.4em sans-serif;
  fill: darken($off-white, 40);
}

.radialGuide {
  fill: none;
  stroke: darken($off-white, 20);

  // stroke-dasharray: 1,4;
  stroke-width: 0.04em;
}

.radial {}