@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";
@import "src/ui/styles/_fonts";

.mapContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: $background;
  touch-action: none;
  z-index: 500;
}

.map {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.invisible {
  composes: mapContainer;
  visibility: hidden;
}

.specialRegulationsTitle {
  font-size: 18px;
  color: $white;
  margin-bottom: 5px;

  @include medium-font;
}