@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";

.footer {
  // background-color: transparentize($blue, 0.8);

  padding-left: $default-margin;
  padding-right: $default-margin;
  border-top: 1px solid transparentize($off-white, 0.7);
}

.menu {
  display: flex;
  justify-content: space-between;
  touch-action: manipulation;
  max-width: 400px;
}

.item {
  align-self: center;
  width: 100px;
  text-align: center;
  background: none !important;
  border: none;
  padding: 0 !important;
  font: inherit;
  font-size: 1.2em;
  color: $off-white;
  height: 35px;
  transition: all 0.1s;
  border-bottom: 0px solid #444;
  text-decoration: none;

  /*border is optional*/

  cursor: pointer;
}

.copy {
  composes: item;
  padding-top: 7px !important;
}

.selected {
  composes: item;
  color: $blue;
  font-weight: bold;
}

.underlight {
  height: 5px;
  background-color: $off-white;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
