@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";

.footer {
  background-color: $messageBackground;
  height: 100%;
  padding-left: $default-margin;
  padding-right: $default-margin;
  font-size: 18px;
  border-top: 1px solid transparentize($off-white, 0.7);
  
  // backdrop-filter: blur(2px);
}

.menu {
  display: flex;
  justify-content: space-between;
  touch-action: manipulation;
  max-width: 400px;
  text-align: center;
  height: 100%;
}

.item {
  align-self: center;
  text-align: center;
  border: none;
  color: $off-white;
  font-size: 1em;
  transition: all 0.1s;
  text-decoration: none;
  height: 30px;
  vertical-align: middle;
  line-height: normal;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
}

.gpsContainer {
  composes: item;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gpsContent {
}

.selected {
  composes: item;
  color: $blue;
  font-weight: bold;
}

.underlight {
  height: 5px;
  background-color: $off-white;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

// copied from:
// https://codepen.io/personable/pen/ZGKjwe
/* The switch - the box around the slider */

$switch_height: 1.0em;
$switch_width: $switch_height * 1.61 * 1.7;

$slider_margin: 0.1em;
$slider_height: $switch_height - (2.0 * $slider_margin);


.switch {
  transform: translateZ(0);
  position: relative;
  display: inline-block;
  top: 2px;
  width: $switch_width;
  height: $switch_height;
  margin-left: 0.4em;

  input:checked + .slider {
    background-color: $blue;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $blue;
  }

  input:checked + .slider:before {
    transform: translateX($switch_width - (2.0 * $slider_margin) - $slider_height);
  }

  input:disabled + .slider {
    background-color: $off-white;
    cursor: not-allowed;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 1.2em;
    overflow: hidden;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.sliderText {
  pointer-events: none;
  position: absolute;
  color: black;
  transition-timing-function: linear;
  transition: 0.4s;
  left: -28px;
  bottom: 2.5px;
  text-transform: uppercase;
  font-weight: 800;
  overflow:hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .left {
    text-align: left;
    font-size: 0.6em;
    width: $switch_width;
  }

  .middle {
    width: $slider_height;
  }

  .right {
    text-align: left;
    font-size: 0.6em;
    margin-left: 4px;
    width: $switch_width;
  }
}

.sliderTextMove {
  composes: sliderText;
  transform: translateX($switch_width - (2.0 * $slider_margin) - $slider_height);
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {

  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $off-white;
  transition: 0.4s;
}

.fail {
  input + .slider {
    background-color: $red !important;
  }
}

.slider:before {
  position: absolute;
  content: "";
  transition-timing-function: linear;
  height: $slider_height;
  width: $slider_height;
  left: $slider_margin;
  bottom: ($switch_height - $slider_height) * 0.5;
  background-color: $white;
  transition: 0.4s;
}



