@import 'src/ui/styles/_colors';
@import 'src/ui/styles/_variables';

$hefty-bottom-margin: 30vh;

.listViewContainer {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  z-index: 100;

  // padding-bottom: $hefty-bottom-margin;

  // padding-top: $default-margin;

  // enable scrollign on iOS
  -webkit-overflow-scrolling: touch;

  .list {
    padding: $default-margin $default-margin $hefty-bottom-margin 10px;
  }
}

.countyListContainer {
}

.countyListItem:after {
  padding-bottom: 40px;
}

.godAwfulPlaceholder {
  height: $hefty-bottom-margin;
}

.invisible {
  composes: listViewContainer;
  display: none;
}

// https://remysharp.com/2012/05/24/issues-with-position-fixed-scrolling-on-ios
.listHeaderContainer {
  position: sticky;
  padding-top: 5px;
  top: 0px;
  height: 30px;
  border-top: black;
  // border-top: 1px solid transparentize($off-white, 0.85);
  background-color: green;
  z-index: 10;
  transform: translateZ(0);
}

.listHeaderContainer > * {
  transform: translateZ(0);
  background-color: purple;
}

.listTitle {
  display: inline;
  margin-left: 10px;
}

.streamItemContainer {
  display: inline-flex;
  width: 100%;
}

.streamList {
  padding: 10px 10px 40px 10px;
  -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 50px) and (max-width: 640px) {
  // .streamList {
  //   columns: 1 2em;
  //   column-gap: 1em;
  //   font-size: 1.0em;
  // }
}

@media only screen and (min-width: 640px) and (max-width: 960px) {
  .streamList {
    columns: 2 2em;
    column-gap: 1em;
    font-size: 1em;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1280px) {
  .streamList {
    columns: 3 2em;
    column-gap: 1em;
    font-size: 1em;
  }
}

@media only screen and (min-width: 1281px) {
  .streamList {
    columns: 4 2em;
    column-gap: 1em;
    font-size: 1em;
  }
}

.scrollDemo {
  background-color: black;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  p {
    font-weight: normal;
    background: #fff59d;
    padding: 0.8em;
  }

  a {
    color: #07c;
  }

  dl {
    margin: 0;
    padding: 24px 0 0 0;
  }

  dt {
    background: #b8c1c8;
    border-bottom: 1px solid #989ea4;
    border-top: 1px solid #717d85;
    color: #fff;
    margin: 0;
    padding: 2px 0 0 12px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
  }

  dd {
    font: bold 20px/45px Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0 0 0 12px;
    white-space: nowrap;
  }

  dd + dd {
    border-top: 1px solid #ccc;
  }
}
