@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";
@import "src/ui/styles/_fonts";
@import "src/ui/styles/ZeldaText";
@import "src/ui/styles/NumberCircle";

.publicBridgesBadge {
  composes: numberCircle;
  color: $green;
  font-size: 12px;
}

.text {
  font-size: 12px;
}