@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";
@import "./RingWaypoint";

.roadSignText {
  // fill: #fff;
  // font-size: 0.6em;
  // text-decoration: none;
}

.roadSignText:hover,
.roadSignText:focus {
  text-decoration: none;
}

.roadSignTextDark {
  fill: $off_white;
  composes: roadSignText;
}

.bridge {
  text {
    stroke: none;
    font-size: 0.75em;
  }

  circle {
    fill: transparent;
  }
}

.selectedBridge {
  composes: bridge;

  text {
    color: black;
    font-weight: bold;
    fill: black;
  }

  circle {
    fill: unset;
  }
}

.publicTroutBridge {
  composes: bridge;
  stroke: $green;
  fill: $green;
}

.troutBridge {
  composes: bridge;
  stroke: $blue;
  fill: $blue;
}

.unsafeBridge {
  composes: bridge;
  stroke: $blueGray;
  fill: $blueGray;
}

.uninterestingBridge {
  display: none;
  composes: bridge;
  stroke: $gray;
  fill: $gray;
}

.selectedPublicTroutBridge {
  composes: selectedBridge;
  stroke: $green;
  fill: $green;
}

.selectedTroutBridge {
  composes: selectedBridge;
  stroke: $blue;
  fill: $blue;
}

.selectedUnsafeBridge {
  composes: selectedBridge;
  stroke: $blueGray;
  fill: $blueGray;
}

.selectedUninterestingBridge {
  composes: selectedBridge;
  stroke: $gray;
  fill: $gray;
}