@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";

$largeFontSize: 1em;

.backButton {
  width: 40px;
  height: 40px;
  border: 1px solid $off-white;
  border-radius: 50%;
  background: transparent;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

.inactive {
  composes: backButton;
  display: none;
}

.chevronContainer {
  width: 100%;
  text-align: center;
  align-self: center;
}

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 1em;
  left: 4px;
  position: relative;
  top: $largeFontSize;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 1em;
  color: $white;
}

.chevron.left:before {
  left: 15px;
  transform: rotate(-135deg);
}