.table {
  th {
    border-spacing: 20px;
    text-align: left;
    border: solid transparent 5px;
    border-right: solid transparent 20px;
  }

  td {
    border-spacing: 15px;
    border: solid transparent 5px;
    border-right: solid transparent 20px;
  }
}
