@import 'src/ui/styles/_colors';
@import 'src/ui/styles/_variables';
@import 'src/ui/styles/_fonts';
@import 'src/ui/styles/fallback';
$circle-size: 0.9em;

.numberCircle {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: $circle-size;
  height: $circle-size;
  box-sizing: initial;

  border: 0.1em solid;

  text-align: center;
  border-radius: 50%;
  line-height: $circle-size + 0.1em;
  box-sizing: content-box;
  text-transform: uppercase;
  transform: translateY(0.05em);
  @include heavy-font;
  transition: color 800ms, background-color 800ms;
  // box-shadow: 0px 0px 0px black;
  box-shadow: 0px 0px 0px 1px black;
  // ::before {
  //   content: '';
  //   // background-color: purple;
  //   border:1px solid black;
  //   border-radius: 50%;
  // }

  // :after {
  //   content: '';
  //   background-color: purple;
  //   border:1px solid #f30;
  // }
}

.numberCircle::first-line {
  font-size: 0.62em;
}

@mixin make-solid($color) {
  composes: numberCircle;
  background-color: $color;
  @include fallback(color, --black, $backgroundDark);
  border-color: $color;
}

@mixin make-hollow($color) {
  composes: numberCircle;
  color: $color;
  text-shadow: 0px 0px 0px 0.06rem black;
}

.yellow {
  @include make-hollow($yellowDark);
}

.blue {
  @include make-hollow($blueDark);
}

.green {
  @include make-hollow($greenDark);
}

.red {
  @include make-hollow($redDark);
}

.blueGray {
  @include make-hollow($blueGrayDark);
  @include fallback(color, --badge-unsafe-to-fish-border, blue);
  &::first-line {
    @include fallback(color, --badge-unsafe-to-fish-content, blue);
  }
}

.yellowSolid {
  @include make-solid($yellowDark);
}

.blueSolid {
  @include make-solid($blueDark);
}

.greenSolid {
  @include make-solid($greenDark);
}

.redSolid {
  @include make-solid($redDark);
}

.blueGraySolid {
  @include make-solid($blueGrayDark);
}

:global(.ts-light) {
  .blueGraySolid {
    &::first-line {
      @include fallback(color, --white, $black);
    }
  }

  &::first-line {
    @include fallback(color, --text-color-primary, $black);
  }
}

:global(.ts-dark) {
}
