@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";
@import "src/ui/styles/_fonts";

$fontSize: 12px;
$largeFontSize: 1.25em;
$smallFontSize: 0.85em;

.headerContainer {
  // height: $header-height;
  background-color: $messageBackground;

  // BLURRY KIRBY FIX. I don't know why, but iOS safari
  // gets blurry unless the header is set to fixed position.
  height: $header-height;
  position: fixed;
  width: 100%;

  // top: 0px;
  z-index: 100;
  border-bottom: 1px solid transparentize($off-white, 0.7);

  // overflow: hidden;
  font-size: $fontSize;
  // backdrop-filter: blur(2px);
}

.header {
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
}

.backButtonContainer {
  order: 1;

  // background-color: transparentize($blue, 0.8);
  min-width: 50px;
  max-width: 50px;
}

.minimapContainer {
  order: 3;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  z-index: 1000;

  // background-color: transparentize($red, 0.8);
}

// calc(100vmin / 50px)

.details {
  padding-top: 0px;
  order: 2;
  flex-grow: 1;

  // background-color: transparentize($green, 0.8);
  padding-left: 10px;

  .top {
    color: $off-white;
  }

  .bottom {
    // font-size: $largeFontSize;
 
  }

  // text-align: center;
}

.title {
  color: $white;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.1;

  @include medium-font;
}