@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";

$fontSize: 12px;
$largeFontSize: 1.25em;
$smallFontSize: 0.85em;

.headerContainer {
  // padding-top: 5px;
  // padding-left: $default-margin;
  // padding-right: $default-margin;
  height: $header-height;
  background-color: transparentize($background, 0.5);
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
  border-bottom: $off-white;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  // overflow: hidden;
  font-size: $fontSize;
}

.header {
  margin-top: 5px;
  margin-left: $default-margin;
  margin-right: 0px;
  display: flex;
}

.backButton {
  width: 30px;
  height: 40px;
  border: 0px solid $off-white;
  border-radius: 50%;
  background: transparent;

  // margin: 5px;
  display: inline-block;
}

.backButtonContainer {
  order: 1;
}

.chevronContainer {
  width: 100%;
  text-align: center;
  align-self: center;
}

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 1em;
  left: 0px;
  position: relative;
  top: $largeFontSize;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 1em;
  color: $white;
}

.chevron.left:before {
  left: 0px;
  transform: rotate(-135deg);
}

.minimap {
  order: 3;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  z-index: 1000;
  position: relative;
  right: 0;
  top: 0;
  background-color: transparentize($red, 0.5);
  transform-origin: right top;
  transition: 4.3s ease-in-out;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

// calc(100vmin / 50px)
.minimap:hover {
  transform: translateY(55px) scale(14.42);

  // transform: scale(calc(100vmin / 1));
}

.details {
  padding-top: 0px;
  order: 2;
  flex-grow: 1;

  .top {
    color: $off-white;
  }

  .bottom {
    // font-size: $largeFontSize;
 
  }
}

.title {
  font-size: 18px;
  color: $white;
  line-height: 1.1;
}