@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";
@import "src/ui/styles/_fonts";

.coreLayout {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: auto;

  // background-color: transparentize($green, 0.8);
}

.enticeContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999999;
  align-content: center;
  pointer-events: none;
  animation: fadein 2.9s;
  animation-iteration-count: infinite;
  animation-delay: 1.1s;
  opacity: 0;
  animation-direction: alternate;
  animation-timing-function: linear;
  .enticeText {
    font-size: 20vmin;
    color: $white;
    align-content: center;
    text-align: center;
    transform: translateY(-30%) rotate3d(1, 2.0, 3.0, 10deg);
    text-align: center;
    position: relative;
    top: 30%;
    pointer-events: none;
  }
}

@keyframes fadein {
  0% { opacity: 0; }
  80% { opacity: 0.0; }
  100%   { opacity: 0.6; }
}

.headerLayout {
  order: 1;
  height: $header-height;
  z-index: 10000;

  // background-color: transparentize($red, 0.8);
  flex-shrink: 0;
}

.footerLayout {
  order: 3;
  height: $footer-height;
  z-index: 10000;

  // background-color: transparentize($blue, 0.8);
  flex-shrink: 0;
}

.coreContentLayout {
  order: 2;
  // overflow-y: auto;

  // height: calc(100% - (#{$header-height} + #{$footer-height}));
  flex-grow: 2;
  position: relative;
  -webkit-overflow-scrolling: touch;
  flex: 1;
}

.coreContent {
  // background-color: $green;

  @include book-font;
}