@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";
@import "src/ui/styles/_fonts";
@import "src/ui/styles/ZeldaText";
@import "src/ui/styles/NumberCircle";

.container {
  margin-bottom: 15px;
  font-size: 12px;
  display: flex;

  .media {
    order: 1;
  }

  .body {
    margin-left: 10px;
    order: 2;
    flex-grow: 1;
  }

  .header {
    font-size: 1.5em;
    color: $white;
    text-decoration: none;

    @include medium-font;
  }
}

.closed {
  composes: zeldaText;
  color: $red;
}

.open {
  composes: zeldaText;
  color: $off-white;
}

.openEmphasis {
  composes: open;
  color: $blue;
}

.openCaution {
  composes: open;
  color: $yellow;
}

.emphasis {
  composes: zeldaText;
  color: $white;
}

.deemphasis {
  composes: open;
  color: $blueGray;
}

.openGreen {
  composes: open;
  color: $green;
}

.publicBridgesBadge {
  composes: numberCircle;
  color: $green;
  font-size: 0.8em;
}

.publicBridgesBadgeDull {
  composes: publicBridgesBadge;
  color: $off-white;
}

.microLength {
  list-style: none;
  display: inline-flex;
  font-size: 10px;
  width: 100%;

  // background: $gray;

  .trout {
    color: $blue;
    order: 3;
    text-align: left;
    flex-grow: 1;

    // composes: lengthItem;
 
  }

  .marker {
    order: 2;
  }

  .public {
    color: $green;
    order: 1;
    text-align: right;
    flex-grow: 1;

    // composes: lengthItem;
 
  }
}