@import 'src/ui/styles/_colors';
@import 'src/ui/styles/_variables';

$minimap-width: 50;
$minimap-width-px: $minimap-width * 1px;

.homeContainer {
  position: relative;
  display: inline-block;
  height: $minimap-width-px;
  width: $minimap-width-px;
  user-select: none;
}

.sandboxContainer {
  user-select: none;
  z-index: 1000;
  transform: translateZ(0);
  padding: 0;
  transform-origin: center;
  transition: 200ms ease-in-out;
  margin: 0;
  overflow: hidden;
  touch-action: manipulation;
  pointer-events: all;
  backface-visibility: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }

  // if you're hovering and expanded
  &.expand:hover {
    background-color: inherit;
    cursor: inherit;
  }
}

.backButtonContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.close {
  position: relative;
  display: inline-block;
  height: 66%;
  width: 66%;
  cursor: pointer;

  // width: 50px;
  // height: 50px;
  overflow: hidden;
  top: 6px;
  left: 6px;

  &:hover {
    &::before,
    &::after {
      cursor: pointer;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &.big {
    transform: scale(3);
  }

  &.hairline {
    &::before,
    &::after {
      height: 1px;
    }
  }

  &.black {
    &::before,
    &::after {
      height: 0.25em;

      // margin-top: -4px;
    }
  }
}

:export {
  minimap-size: $minimap-width;
}
