@import 'src/ui/styles/_colors';
@import 'src/ui/styles/_variables';
@import 'src/ui/styles/_fonts';
@import 'src/ui/styles/ZeldaText';
@import 'src/ui/styles/fallback';
@import 'src/ui/styles/utilities';
$micromap-height: 3.5rem;
$micromap-width: $micromap-height;

.closed {
  composes: zeldaText;
  @include fallback(color, --red, $redDark);
}

.deemphasis {
  composes: closed;
  @include fallback(color, --text-color-secondary, $offTextDark);
}
