@import 'src/ui/styles/_colors';
@import 'src/ui/styles/_variables';
@import 'src/ui/styles/_fonts';
@import 'src/ui/styles/fallback';

.container {
  font-size: 0.8rem;
  transition: background-color 800ms;
  @include fallback(background-color, --message-background-color, $messageBackgroundDark);
  position: absolute;
  padding: ($default-margin / 2) ($default-margin / 2);
  z-index: 10000;
  min-height: 2.7em;
  max-height: calc(80vh / 2.4 - 50px);
  overflow-y: scroll;
}

.top {
  composes: container;
  top: $page-header-height;
  left: 0;
  right: 0;
}

.bottom {
  composes: container;
  bottom: $page-footer-height;
  left: 0;
  right: 0;
}

.fullscreen {
  composes: container;
}
