// .container {

// }

// .gradient {
//   background-image: -webkit-gradient(linear, 0 0, 0 1783.125, color-stop(0.019, #111), color-stop(0.356, #121c2e), color-stop(0.356, #121e2e), color-stop(0.577, #3b4f6f), color-stop(0.577, #385070), color-stop(0.62, #495e81), color-stop(0.648, #516584), color-stop(0.657, #536a88), color-stop(0.66, #556988), color-stop(0.706, #6e8199), color-stop(0.718, #7887a0), color-stop(0.782, #abaeb1), color-stop(0.791, #b3b6b5), color-stop(0.793, #b7b5b6), color-stop(0.801, #bfbdb7), color-stop(0.814, #cdc2b4), color-stop(0.822, #d5c9b5), color-stop(0.854, #fadbad), color-stop(0.854, #fbd9ac), color-stop(0.858, #fbdaa9), color-stop(0.858, #fdd9a9), color-stop(0.863, #fddaa6), color-stop(0.863, #fbdba4), color-stop(0.868, #fedaa0), color-stop(0.881, #fed591), color-stop(0.881, #fed28f), color-stop(0.89, #fcbe78), color-stop(0.895, #fbb370), color-stop(0.905, #e68a5c), color-stop(0.915, #ac5e49), color-stop(0.918, #935646), color-stop(0.918, #935646), color-stop(0.918, #834b3d), color-stop(0.919, #21160e), to(#030504));
//   background-image: -webkit-linear-gradient(#111 1.9%, #121c2e 35.6%, #121e2e 35.6%, #3b4f6f 57.7%, #385070 57.7%, #495e81 62%, #516584 64.8%, #536a88 65.7%, #556988 66%, #6e8199 70.6%, #7887a0 71.8%, #abaeb1 78.2%, #b3b6b5 79.1%, #b7b5b6 79.3%, #bfbdb7 80.1%, #cdc2b4 81.4%, #d5c9b5 82.2%, #fadbad 85.4%, #fbd9ac 85.4%, #fbdaa9 85.8%, #fdd9a9 85.8%, #fddaa6 86.3%, #fbdba4 86.3%, #fedaa0 86.8%, #fed591 88.1%, #fed28f 88.1%, #fcbe78 89%, #fbb370 89.5%, #e68a5c, #ac5e49 91.5%, #935646 91.8%, #935646, #834b3d 91.8%, #21160e 91.9%, #030504);
//   background-image: -moz-linear-gradient(#111 1.9%, #121c2e 35.6%, #121e2e 35.6%, #3b4f6f 57.7%, #385070 57.7%, #495e81 62%, #516584 64.8%, #536a88 65.7%, #556988 66%, #6e8199 70.6%, #7887a0 71.8%, #abaeb1 78.2%, #b3b6b5 79.1%, #b7b5b6 79.3%, #bfbdb7 80.1%, #cdc2b4 81.4%, #d5c9b5 82.2%, #fadbad 85.4%, #fbd9ac 85.4%, #fbdaa9 85.8%, #fdd9a9 85.8%, #fddaa6 86.3%, #fbdba4 86.3%, #fedaa0 86.8%, #fed591 88.1%, #fed28f 88.1%, #fcbe78 89%, #fbb370 89.5%, #e68a5c, #ac5e49 91.5%, #935646 91.8%, #935646, #834b3d 91.8%, #21160e 91.9%, #030504);
//   background-image: -o-linear-gradient(#111 1.9%, #121c2e 35.6%, #121e2e 35.6%, #3b4f6f 57.7%, #385070 57.7%, #495e81 62%, #516584 64.8%, #536a88 65.7%, #556988 66%, #6e8199 70.6%, #7887a0 71.8%, #abaeb1 78.2%, #b3b6b5 79.1%, #b7b5b6 79.3%, #bfbdb7 80.1%, #cdc2b4 81.4%, #d5c9b5 82.2%, #fadbad 85.4%, #fbd9ac 85.4%, #fbdaa9 85.8%, #fdd9a9 85.8%, #fddaa6 86.3%, #fbdba4 86.3%, #fedaa0 86.8%, #fed591 88.1%, #fed28f 88.1%, #fcbe78 89%, #fbb370 89.5%, #e68a5c, #ac5e49 91.5%, #935646 91.8%, #935646, #834b3d 91.8%, #21160e 91.9%, #030504);
//   background-image: linear-gradient(#111 1.9%, #121c2e 35.6%, #121e2e 35.6%, #3b4f6f 57.7%, #385070 57.7%, #495e81 62%, #516584 64.8%, #536a88 65.7%, #556988 66%, #6e8199 70.6%, #7887a0 71.8%, #abaeb1 78.2%, #b3b6b5 79.1%, #b7b5b6 79.3%, #bfbdb7 80.1%, #cdc2b4 81.4%, #d5c9b5 82.2%, #fadbad 85.4%, #fbd9ac 85.4%, #fbdaa9 85.8%, #fdd9a9 85.8%, #fddaa6 86.3%, #fbdba4 86.3%, #fedaa0 86.8%, #fed591 88.1%, #fed28f 88.1%, #fcbe78 89%, #fbb370 89.5%, #e68a5c, #ac5e49 91.5%, #935646 91.8%, #935646, #834b3d 91.8%, #21160e 91.9%, #030504)
// }

// .backdrop {
//   composes: gradient;
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }


//Edit these
$farColor: #ffe4c7;
$nearColor: darken(cyan,30%);
$layer: 7; //make sure it is +1 the ammount of layer divs in the html
$perspective: 1;

.bg {
  position:absolute;
  height:100%;
  width:100%;
  top:0px;
  z-index:0;
  background-color:$farColor;
}

.layer {
  position:fixed;
  top:0px;
  margin:auto;
  width:100%;
  z-index:100;
  min-height:400px;
  top: 0; left: 0; right: 0; bottom: 0;
  background-position: top center;
  background-repeat: no-repeat;
}

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: #{$perspective + px};
}

.parallaxGroup {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}




@for $i from 1 to $layer {
  .parallaxGroup div:nth-child(#{$i}) {
    
    //figure out best mixing math, this isn't true to the starting colors, doesnt scale that well
    $mixedColor: mix($nearColor, $farColor, $i*15); 
    $randOffset: random(300)+px;
    $zDepth: ($layer - $i)/0.5;
    
    background-color:$farColor;    
    margin-top:#{300*($i+1) + px};
    background-color:$mixedColor;
    transform: translateZ(#{-($zDepth) + px}) scale(#{1 + (-($zDepth) * -1) / $perspective});
 
    &:before {
      content:"";
      width:100%;
      height:200px;
      position:absolute;
      bottom:100%;
      left:0;
      background-image: linear-gradient(135deg, transparent 66%, $mixedColor 66.01%),
                        linear-gradient(45deg, $mixedColor 34%, transparent 34.01%);
      background-position: $randOffset 0px;
      background-size: 200px 100%;
      background-repeat:repeat-x;
    }
  }

} //loop over







///Demo specific styling



.content {
  position:relative;
  background-color:transparent;
  font-family:"Arial";
  letter-spacing:10px;
  text-transform:uppercase;
  line-height:40px;
  z-index:10;
  width:100%;
  font-size:15px;
  text-align:center;
  color:white;
  margin-top:1000px;
  $zDepth: (1)/0.5;
  transform: translateZ(#{-($zDepth) + px}) scale(#{1 + (-($zDepth) * -1) / $perspective});
}
 
.fill {
  height:80%; //?
}


