@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";

.container {
  width: 40px;
  height: 40px;
  position: relative;
  transform: translateZ(0);
  // padding-top: 5px;
}

.microMap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

