@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";
@import "src/ui/styles/ZeldaText";

.regionContainer {
  // background-color: $yellow;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  // overflow-y: auto;

  // -webkit-overflow-scrolling: touch;
}

.active {}

.clearSearchTitle {
  color: $white;
  font-size: 1em;
}