@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";

$heafty-bottom-margin: 50vmin;

.listViewContainer {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-y: auto;

  // enable scrollign on iOS
  -webkit-overflow-scrolling: touch;

  .list {
    padding: $default-margin $default-margin $heafty-bottom-margin 10px;
  }
}

.invisible {
  composes: listViewContainer;
  visibility: hidden;
}

.listTitle {
  font-size: 18px;
  margin-top: 40px;
  width: 100%;
}

@media only screen and (min-width: 50px) and (max-width: 640px) {
  .streamList {
    columns: 1 2em;
    column-gap: 1em;
    font-size: 1.0em;
  }
}

@media only screen and (min-width: 640px) and (max-width: 960px) {
  .streamList {
    columns: 2 2em;
    column-gap: 1em;
    font-size: 1.0em;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1280px) {
  .streamList {
    columns: 3 2em;
    column-gap: 1em;
    font-size: 1.0em;
  }
}

@media only screen and (min-width: 1281px) {
  .streamList {
    columns: 4 2em;
    column-gap: 1em;
    font-size: 1.0em;
  }
}