@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";

$padding: 7px;

.streamSearch {
  input[type="search"] {
    max-width: 170px;
    width: calc(100% - 10px);
    background-color: transparent;
    border: 2px solid $off-white;
    height: 30px;
    border-radius: 15px;
    font-size: 18px;
    color: $blue;
    padding-left: $padding;
    padding-right: $padding;
    resize: horizontal;
  }

  input[type="search"]::placeholder {
    color: #555;
  }
}