@import "src/ui/styles/_colors";
@import "src/ui/styles/_variables";

$padding: 7px;

.streamSearch {
  input[type="search"] {
    max-width: 170px;
    -webkit-appearance: textfield;
    width: calc(100% - 10px);
    background-color: $messageBackground;
    background: $messageBackground;
    border: 2px solid $off-white;
    height: 30px;
    border-radius: 15px;
    font-size: 18px;
    color: $blue;
    padding-left: $padding;
    padding-right: $padding;
    resize: horizontal;
  }

  input[type="search"]::placeholder {
    color: $off-white;
  }

  .hidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
  }
}